body{
    background-color: #888888;
}

.bma-logo{
    border-radius: 20px;
    width: 22%;
    height: 22%;
}

.ssys-logo{
    width: 15%;
    height: 15%;
}

.sub-text {
    text-align: center; 
    margin: 10px 0 20px; 
    opacity: 0.3;
}

.title-bg-color{
    background-color: #df4759;
}