.title .subtitle{
    color: rgb(85, 85, 85);
    font-size: medium;
    font-weight: 400;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.space-50{
    margin-top: 50px;
    margin-bottom: 50px;
}